h1 {
    font-size: 2em;
    text-align: center;
    color: #ffd48e;
}

#p {
    font-size: 7em;
}

h2 {
    font-size: 3em;
    text-align: center;
    color: #ffd48e;
}

p {
    font-size: 5em;
}

div input {
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 0px 30px 30px 600px;
    background-color: #cab58d;
    border: 1px solid #000;
    border-radius: 5em;
    display: flex;
}

button {
    text-align: center;
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 0px 30px 30px 600px;
    background-color: #cab58d;
    border: 1px solid #000;
    border-radius: 5em;
    color: #000000;
}

body {
    background-color: #a16e2f;
}

#result {
    color: #ffd48e;
    text-align: center;
    text-shadow: #a16e2f;
}

h1 {
    font-size: 10em;
    animation: text-animation 1s ease-out alternate;
}

@keyframes text-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}